<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace=base::layout(~{::section})>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<section class="mg">

		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<br />
					<div class="my-card">

						<h1 class="textsm">Enter Email for OTP Verification</h1>
						<div th:if="${session.msg}"
							class="alert alert-danger alert-dismissible fade show"
							role="alert">
							<h1>
								<strong>Failure!</strong>
							</h1>
							<h3>User does not Exists!!</h3>
							<button type="button" class="close" data-dismiss="alert"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div th:if="${session.umsg}"
							class="alert alert-danger alert-dismissible fade show"
							role="alert">
							<h1>
								<strong>Failure!</strong>
							</h1>
							<h3 th:text="${session.umsg}"></h3>
							<button type="button" class="close" data-dismiss="alert"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>

						<br>
						<form th:action="@{/email/send}" method="post">
							<div class="form-group">

								<label for="exampleInputEmail1">Email ID</label> <input
									type="email" class="form-control" id="exampleInputEmail1"
									placeholder="Enter Email ID" name="email"
									aria-describedby="emailHelp">
							</div>
							<button type="submit" class="btn btn-primary">Send OTP</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>